conda.enabled = true

params{

    index          = 'Homo_sapiens.GRCh38.dna.primary_assembly.fa' 
    reference_gtf  = 'Homo_sapiens.GRCh38.107.gtf'
    reads          = 'pass_select.fastq.gz'
    threads        = 40
    input_bed      = 'target.bed'
    gene_folder    = 'references/genes/CYP2D6_CYP2D7.fasta'
    ref_folder     = 'references/'
    output_dir     = 'output'


    model_m        = 'r941_min_hac_g507'
    clair3_model   = '/bin/models/r941_prom_sup_g5014'
    
}
