conda.enabled = true

params{

    index          = '/data/ensembl_genomes/Hsa/release107/Homo_sapiens.GRCh38.dna.primary_assembly.fa' 
    reference_gtf  = '/data/ensembl_genomes/Hsa/release107/Homo_sapiens.GRCh38.107.gtf'
    reads          = '/media/genomics4/projects/20200310_long_read_pgx_sequencing/data/20201216_read_until/20201221_LT_KR_CRISPR_CAS_READ_UNTIL_faster_HAC_HPC/selected_reads/blocked_crispr.fastq'
    threads        = 40
    input_bed      = 'target.bed'
    gene_json      = '/home/ltillema/eigenProjects/20230712_CoLoRGen/references/cyp2d6_hybrids.json'
    star_alleles   = '/home/ltillema/eigenProjects/20230712_CoLoRGen/references/CYP2D6.NC_000022.11.haplotypes.tsv'
    output_dir     = 'output'


    model_m        = 'r941_min_hac_g507'
    clair3_model   = '/bin/models/r941_prom_sup_g5014'
    
}
